h1{
    color: blue;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

#101 tr:nth-child(even){
background-color: #eeeeee;
}

#101 tr:nthchild(odd){
    background-color: black;
}

#101 th{
    background-color: black;
}

.red-color{
    color: red;
}
.computer{
    color: blue;
}